{% for item in items %}
	{% set the_image = item.content['#field_collection_item'].field_image %}
  	{% if item.content['#field_collection_item'].field_style.value == 0 %}
	  <div class="col-md-7 about-service-image">
	    <img src="{{ file_url(the_image.entity.uri.value) }}" alt="{{ the_image.alt }}" title="{{ the_image.title }}">
	  </div>
	  <div class="col-md-5 about-service-content wow fadeInRight">
	    <h2>{{ item.content['#field_collection_item'].field_title.value }}</h2>
	    <p>{{ item.content['#field_collection_item'].field_body.value|striptags }}</p>
	  </div>
	{% else %}  
	  <div class="col-md-5 about-service-content wow fadeInRight" >
		<h2>{{ item.content['#field_collection_item'].field_title.value }}</h2>
	    <p>{{ item.content['#field_collection_item'].field_body.value|striptags }}</p>
	  </div>
	  <div class="col-md-7 about-service-image wow fadeInLeft">
	    <img src="{{ file_url(the_image.entity.uri.value) }}" alt="{{ the_image.alt }}" title="{{ the_image.title }}">
	  </div>
  	{% endif %}
{% endfor %}
